.home-page{
  margin-top: 5vh;

  background : #de3131;
  padding-bottom: 10vh;
}
.home-container{
  margin-left: 13vw;
  color: white;
}

.front-img{
  height: 50vh;
  width: auto;
  margin-left: 5vw;
}

.ml-auto{
  margin-left: auto;
}

.nav-blood{
  border-radius: 50%;
}
.navbar-brand{
  padding-left: 9vw;
  font-size: 200%;

}
.intro-tile{
  padding-left: 10vw;
  padding-top: 10vh;
  font-family: 'Poppins', sans-serif;

}
.custom-nav-tile{
  padding-top: 5vh;
}
.top-nav-pad{
  padding-right: 10vw;
}
.nav-link{
  margin: 0 2vw 0 0;
}
.nav-link{
  color: white;
  font-size: 120%;
}
.custom-btn{
  margin-left: 0.8vw;
}

/* features of community */
.features{
  padding: 10vh 15vw;
}
.feature-box{
  text-align: center;
  align-items: center;

}
.feature-name{
  font-family: 'Poppins', sans-serif;
  font-size: 150%;
}
.feature-icon{
  color: #de3131;
}
.feature-icon:hover{
  color: red;
}


/* features of donor carousel */
.happy-donors{
  background-color: #de3131;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: white;
}
.donor{
  margin: 5vh 10vw;
  padding: 5vh 1vw;
}

.donor-img{
  width: 12rem;
  height: 12rem;
  border-radius: 100%;
  margin: 5vh auto 2vh auto;
}
.donor-msg{
  /* font-family: 'Corinthia', cursive; */
  font-size: 3rem;
  font-family: 'Dancing Script', cursive;

}
.donor-name{
  font-family: 'Dancing Script', cursive;
  /* font-family: 'Open Sans Condensed', sans-serif; */
  font-size: 2rem;
}
